.layout{
    margin: 2% 0 0 17%;
    position: relative;
}

.user-dash{
 display: flex;
 align-items: center;
 position: absolute;
 left: 70%;

 h4{
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: rgba(56, 47, 144, 0.6);  
 }
}

.user-content{
    padding-top: 5%;

    h1{
    font-family: 'Avenir LT Std';
    font-size: 32px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 10px;
    color: $purple;
    }

    p{
    font-family: 'Avenir LT Std';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: $grey2;
    }
}

.cnt-body{
    margin-top: 30px;
    padding: 20px 20px 70px 20px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 80%;
    position: relative;
}

.cnt-h3{
    font-family: 'Avenir LT Std';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #382F90;
    margin: 20px 0;
}

.cnt-label{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left:  5px;
    display: inline;
}

.cnt-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cnt-select{
    display: flex;
    margin: 20px 0;
    justify-content: space-between;

    div{
        display: flex;
        flex-direction: column;

        label{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #9FA2B4;
            margin-bottom: 5px;
        }
        select{
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            border-radius: 5px;
            width: 356px;
            padding: 5px 5px;
            color: #9FA2B4;
        }
    }
    
}

#grey{
    color:#9FA2B4;
  }

.btn{
    padding: 13px 15px;
    background-color: $purple;
    color: #FFFFFF;
    border-radius: 7px;
    float: right;
}

